.cover {
  height: 200px;
  place-content: center;
  place-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  isolation: isolate;
  .cover-overlay {
    inset: 0;
    background: rgb(0 0 0 / 81%);
    z-index: -1;
    border-radius: inherit;
  }

  .cancel-btn {
    right: 1rem;
    top: 1rem;
    border-color: transparent;
    background: transparent;
  }
}

.drop-area {
  cursor: pointer;
  border: 2px dashed #bdb9b9;
  p:nth-of-type(2) {
    font-size: 0.9rem;
    font-weight: 600;
  }
}

.footnote {
  font-size: 0.9rem;
  background: #d2ecff;
  padding: 1rem;
  font-weight: 500;
}

.file-over {
  border-color: black;
}
