.header-content {
  background-image: linear-gradient(179deg, rgb(166 201 255), rgb(64 93 243));
  background-size: cover;
  height: 30rem;
  border-radius: 3rem;
  place-content: center;
}

h1 {
  font-size: 3rem;
}
