<form class="row justify-content-center" style="margin-top: 4rem">
  <div class="col col-md-10 col-lg-8">
    <input
      class="form-control form-control-lg"
      placeholder="Search here"
      style="font-size: 1rem"
    />
  </div>
</form>

<div class="row justify-content-center mt-5">
  <div class="col col-md-10 col-lg-8 order-1">
    <ol class="row gap-3">
      <li class="col-12">
        <a class="text-decoration-none d-block" role="link">
          <p
            class="m-0"
            style="font-weight: 500; color: var(--purple-dark-color)"
          >
            Don't miss a single match this season. Whether it's an away
          </p>

          <div class="d-flex mt-2" style="font-size: 0.84rem; gap: 0.1rem">
            <p class="text-muted m-0">
              By
              <span style="color: var(--purple-dark-color)">John Stones</span>
            </p>
            &nbsp;
            <span
              class="fw-bold text-muted"
              style="line-height: 0; font-size: 2rem"
              >.</span
            >&nbsp;
            <p class="text-muted m-0 order-3">1 hr ago</p>
          </div>
        </a>
      </li>
      <li class="col-12">
        <a class="text-decoration-none d-block" role="link">
          <p
            class="m-0"
            style="font-weight: 500; color: var(--purple-dark-color)"
          >
            How to begin a business with just 100 dollars
          </p>

          <div class="d-flex mt-2" style="font-size: 0.84rem; gap: 0.1rem">
            <p class="text-muted m-0">
              By
              <span style="color: var(--purple-dark-color)">Morris James</span>
            </p>
            &nbsp;
            <span
              class="fw-bold text-muted"
              style="line-height: 0; font-size: 2rem"
              >.</span
            >&nbsp;
            <p class="text-muted m-0 order-3">2 hr ago</p>
          </div>
        </a>
      </li>
    </ol>
  </div>
</div>
